@using Restaurant_DeveloperCase.DAL.Data
@model Reservation


@if (ViewBag.Msg!=null)
{
    <span class="alert alert-success">@ViewBag.Msg</span>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Hidden("AllTableId",TempData["TumMasalar"])
        <label>Adınız:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Adınızı giriniz:" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.Name)</span>
        <label>Soyadınız:</label>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Adınızı giriniz:" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.LastName)</span>
        <label>Tarih:</label>
        @Html.TextBox("ReservationDate",(DateTime)TempData["Tarih"],new {@class="form-control",@type="readonly"})
    </div>


    <input type="submit" class="btn btn-success" value="İşlemi Tamamla"/>

}